<div class="container-fluid">
    <div class="row" style="height: 100vh; width: 100vw; background-image: url(https://wallpaperaccess.com/full/7130206.jpg); background-size: cover; background-repeat: no-repeat;">
        <div class="col">
            <div class="card">
                <div class="car-body" style="padding: 1rem 1rem;">
                    <h2 style="color: white;">ENCUENTRA TU UBICACION</h2>
                    <form >
                        <div class="mb-2">
                            <input type="text" class="form-control" placeholder="Ingrese un nombre">
                        </div>
                        <div class="mb-2">
                            <input type="number" class="form-control" placeholder="Ingrese un numero">
                        </div>
                    </form>
                    <button class="btn btn-outline-primary" style="width: 50%; position: absolute; text-align: center; left: 25%;" (click)="login()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>



