/*personalizacion card*/
.card {
    top: 50%;
    transform: translate(0, -50%);
    height: 70vh;
    width: 40ch;
    background-color:transparent;
    backdrop-filter: blur(55px);
    text-align: center;
  }
  
  .card:hover{
    background-color: black;
    opacity: .9;
    transition: 1s;
  }

  .entrar {
    width: 50%;
    position: absolute;
    text-align: center;
    left: 25%;
  }

  .registrar , .volver{
    margin-top: 5rem;
  }
  /*finaliza personalizacion card*/

