<div class="video-container">
  <video autoplay muted loop class="fullscreen-video">
      <source src="https://cdn.pixabay.com/video/2022/06/10/119843-719443761_large.mp4 " type="video/mp4">
      Tu navegador no soporta el video.
  </video>
</div>
<div class="container">
  <div class="row" style="opacity: 1;">
    <div class="col" id="ubicacion">
      <h2 style="color: white; text-align: center; margin-top: 1rem; margin-bottom: 4rem;">UBICACION</h2>
      <div class="gap-3 d-flex justify-content-between ps-md-5 pe-md-5 ms-md-3 me-md-3" style="margin-bottom: 2rem;">
        <button class="btn btn-primary  ms-5 inicio" (click)="centrarUbicacion()">Centrar</button>
        <button class="btn btn-primary me-5 inicio" data-bs-toggle="modal" data-bs-target="#busqueda  ">Buscar</button>
      </div>
      <div class="d-flex justify-content-center">
        <div class="mapa" id="map"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="busqueda">
    <div class="modal-dialog">
      <div class="modal-content ventana">
        <div class="modal-header primero">
          <h5 class="modal-title">Buscar persona</h5>
          <button class="btn-close text-reset" data-bs-dismiss="modal" name="button"></button>
        </div>
        <div class="modal-body formulario">
          <form>
            <div class="mb-2">
              <input type="text" class="form-control input" placeholder="Ingrese el numero de telefono que desea buscar">
            </div>
            <button class="btn btn-outline-primary">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
  